<spinner></spinner>
<div class="container">
  <div class="header bg-faded clearfix">        
    <h3 class="text-muted">Snow Software client server exercise</h3>
  </div>

  <nav class="navbar navbar-expand-sm bg-light">
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/exercise" routerLinkActive="active">Bar Chart Exercise</a>
    </ul>
  </nav>
  <hr />
  <div class="row">
    <hr />
    <router-outlet></router-outlet>
    <hr />
  </div> 
</div>
